<% if cookies[:dark] %>
	<%= stylesheet_link_tag 'static_pages_dark', media: 'all', 'data-turbolinks-track': 'reload' %>
<% else %>
	<%= stylesheet_link_tag 'static_pages_light', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>
<div id="help" class="container">
	<div class="row">
		<div class="col-sm-8">
			<br>
			<h2>Get help</h2>
			<h4>Der hilfe Bereich inklusive des FAQs befindet sich momentan in bearbeitung</h4><br><br>
			<ul>
				<li class="nav-item">
					<p>FAQ 1</p>
				</li>
				<li class="nav-item">
					<p>FAQ 2</p>
				</li>
				<li class="nav-item">
					<p>FAQ 3</p>
				</li>
				<li class="nav-item">
					<p>FAQ 4</p>
				</li>
				<li class="nav-item">
					<p>FAQ 5</p>
				</li>
				<li class="nav-item">
					<p>FAQ 6</p>
				</li>
				<li class="nav-item">
					<p>FAQ 7</p>
				</li>
			</ul>
		</div>
	</div>
</div>

