<% if cookies[:dark] %>
	<%= stylesheet_link_tag 'static_pages_dark', media: 'all', 'data-turbolinks-track': 'reload' %>
<% else %>
	<%= stylesheet_link_tag 'static_pages_light', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>
<div id="help">
	<div class="content-container">
		<div class="col-sm-8">
			<h1><%= t "static_pages.help.titel" %></h1>
			<br>
			<h3><%= t "static_pages.help.subtitel" %></h3><br><br>
			<ul>
				<li class="nav-item">
					<h4>FAQ 1</h4>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,</p>
				</li>
				<li class="nav-item">
					<h4>FAQ 2</h4>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,</p>
				</li>
				<li class="nav-item">
					<h4>FAQ 3</h4>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Tolores et ea rebum. Stet clita kasd gubergren,</p>
				</li>
				<li class="nav-item">
					<h4>FAQ 4</h4>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,</p>
				</li>
				<li class="nav-item">
					<h4>FAQ 5</h4>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,</p>
				</li>
				<li class="nav-item">
					<h4>FAQ 6</h4>
					<p>Lorem ipsum dolor consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,</p>
				</li>
				<li class="nav-item">
					<h4>FAQ 7</h4>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo rebum. Stet clita kasd gubergren,</p>
				</li>
			</ul>
		</div>
	</div>
</div>

