<div id="help" class="container-fluid">
	<div class="row">
		<div class="col-sm-8">
			<br>
			<h2><%= t "static_pages.help.titel"%></h2>
			<h4><%= t "static_pages.help.subtitel"%></h4><br><br>
			<ul>
				<li class="nav-item">
					<p>FAQ 1</p>
				</li>
				<li class="nav-item">
					<p>FAQ 2</p>
				</li>
				<li class="nav-item">
					<p>FAQ 3</p>
				</li>
				<li class="nav-item">
					<p>FAQ 4</p>
				</li>
				<li class="nav-item">
					<p>FAQ 5</p>
				</li>
				<li class="nav-item">
					<p>FAQ 6</p>
				</li>
				<li class="nav-item">
					<p>FAQ 7</p>
				</li>
			</ul>
		</div>
	</div>
</div>
