<h1>Startpages#index</h1>
<p>Find me in app/views/startpages/index.html.erb</p>
<body>
<section id="showcase">
  <div class="container">
    <h1>WebDevelopment by Jochen Schlier</h1>
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
      et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
    </p>
  </div>
</section>

<section id="aboutMe">
  <div class="container">
    <h1>Über Mich</h1>
    <img src="../pic/face_picture.jpg">
    <div>
      <p id="text"> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
        et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
      <p id="nameAndAge"> <span id="name">Name : </span> Jochen Schlier <br> <span id="age">Alter : </span> 29 </p>
    </div>
  </div>
</section>

<section id="skills">
  <div class="container">
    <div class="skill">
      <img src="../pic/logo_html.png">
      <h3>HTML5</h3>
      <p>
        Die HTML ist eine textbasierte Auszeichnungssprache zur Strukturierung
        elektronischer Dokumente wie Texte mit Hyperlinks, Bildern und anderen Inhalten. </p>
    </div>
    <div class="skill">
      <img src="../pic/logo_css.png">
      <h3>CSS3</h3>
      <p>Cascading Style Sheets ist eine Stylesheet-Sprache für elektronische
        Dokumente und zusammen mit HTML und DOM eine der Kernsprachen des World Wide Webs.</p>
    </div>
    <div class="skill">
      <img src="../pic/logo_js.png">
      <h3>JavaScript</h3>
      <p>JavaScript ist eine Skriptsprache, um Inhalte zu verändern, nachzuladen oder zu generieren
        und so die Möglichkeiten von HTML und CSS zu erweitern.</p>
    </div>
    <div class="skill">
      <img src="../pic/logo_php.png">
      <h3>PHP</h3>
      <p>
        PHP ist eine Skriptsprache mit einer an C und Perl angelehnten Syntax, die hauptsächlich zur
        Erstellung dynamischer Webseiten oder Webanwendungen verwendet wird</p>
    </div>
  </div>
</section>
</body>