@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$background_color: whitesmoke;
$accent_color: #3e6b6b;
$font_color: #191919;


$nav_color: #CED5E9;
$nav_hover_colo: #e0e7fc;
$button_color: #7e7e7e;

body {
  background-image: url("https://yxpqxa.db.files.1drv.com/y4mmKOjphK22RKYSJ_wIKJ8RNL9FowOGRocX2vI9teCoya7Gwkw33yGEdEYOosR_UidGRcabb3bmNBjGbilBpnSPIBwHvC3PNmW8MSNk6FYoM-ne713jwk83hYp-IqqAzUuJZLF5qiLBCW5mJUgUhT2kBhAI40EvI4m2PpCHAcvmhJ2A9U1iDX1yI9gp1lnGJTwjWqavVdBOuaBXFR1mFdlWw?width=5120&height=2880&cropmode=none");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.content-container
{
  background-color: rgba(47, 79, 79, 0.7);
  padding: 30px;
  margin: 30px;
}

h1
{
  color: $font_color;
}

h2
{
  color: $font_color;
}

h3
{
  color: $font_color;
}

h4
{
  color: $font_color;
}

p
{
  color: $font_color;
}
