@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "nav_bar_dark";
@import "shop_system_dark";
@import "shops_dark";
@import "static_pages_dark";

$background_color: #191919;
$accent_color: #3e6b6b;
$font_color: whitesmoke;

