@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "application";
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);

$background_color: whitesmoke;
$accent_color: darkslategrey;
$font_color: #191919;
$nav_color: #CED5E9;
$nav_hover_colo: #e0e7fc;
$button_color: #7e7e7e;

body, .content-container::before {
  background-image: url("https://yxpqxa.db.files.1drv.com/y4mmKOjphK22RKYSJ_wIKJ8RNL9FowOGRocX2vI9teCoya7Gwkw33yGEdEYOosR_UidGRcabb3bmNBjGbilBpnSPIBwHvC3PNmW8MSNk6FYoM-ne713jwk83hYp-IqqAzUuJZLF5qiLBCW5mJUgUhT2kBhAI40EvI4m2PpCHAcvmhJ2A9U1iDX1yI9gp1lnGJTwjWqavVdBOuaBXFR1mFdlWw?width=5120&height=2880&cropmode=none");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

