@import "bootstrap";
@import "header_footer";
@import "static_pages";
@import "authentication";


.branding {
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bolder;

  &:hover {
    color: whitesmoke;
    text-decoration: none;
  }
}


/*--- Breakpoints --*/
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap
Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }
Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }
Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }
Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
