@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "application";
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);

$background_color: #191919;
$accent_color: #060c20;
$font_color: whitesmoke;
$nav_color: #CED5E9;
$nav_hover_colo: #e0e7fc;
$button_color: #7e7e7e;

body, .content-container::before {
  background-image: url("https://nh21ra.db.files.1drv.com/y4mT30tnztHfEfiASCGr8wF8hL8i00L6rludbi5YSJUaD4_WKockve9HAdz0O91GScaEvec53G8XpY4AmpZ6Y15dN-G9xDviS-R0NYM-Zc_HrTOGae2J7bHkBldxWSDu83MxL6WVIAV19V6cTx22aiy7b4pUOnMnhSeWy9R1h4RpQUTA1cDf87RJoW4LLZjIeowBVorJrBYGz8yP8mvZHxGQg?width=5120&height=2880&cropmode=none");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
