@import "application_light";

.form-background{
  background-color: $background_color !important;
  border-color: $background_color !important;
  color: $font_color !important;
}

.label-color
{
  color: $font-color;
}

.button
{
  background-color: $background_color!important;
  color: $font_color!important;
  border-color: $background_color!important;
}

.dropdown-color
{
  background-color: $background_color !important;
}

.dropdown-item-color
{
  text-decoration: none;
  color: $nav_color !important;

  &:hover {
    color: $nav_hover_colo!important;
    text-decoration: none!important;
    background-color: $background_color!important;
  }
}
