@import "application_dark";

.branding {
  font-weight: 600;
  color: #FFF;
  font-family: 'Oswald', 'Arial';
  text-transform: uppercase;
  font-size: 30px;

  &:hover {
    text-decoration: none;
    color: #FFF;
  }
}


.background-dark {
  background-color: $accent_color;
}

.nav-link-font {
  margin-right: 30px;
  color: $nav_color;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;

  &:hover {
    color: $nav_hover_colo;
  }
}

.nav-h1 {
  color: whitesmoke;
  font-size: 18px;
  font-weight: bold;
}

.nav-h2 {
  color: whitesmoke;
  font-size: 18px;
}

.nav-norm-text {
  color: whitesmoke;
  font-size: 14px;
}

#footer-container {
  padding: 20px;
}

