@import "application_light";

.branding {
  font-weight: 600;
  color: #FFF;
  font-family:'Oswald', 'Arial';
  text-transform: uppercase;
  font-size: 30px;

  &:hover {
    text-decoration: none;
    color: #FFF;
  }
}

.background-dark {
  background-color: $accent_color;
}

.nav-link-font{
  margin-right: 30px;
  color: #bebebe;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;

  &:hover {
    color: whitesmoke;
  }
}



#footer-container
{
  padding: 20px;
}

