@import "application_dark";

.item_link{
  color: $font_color;
  text-decoration:none;

  &:hover {
    color: $accent_color;
    text-decoration: none;
  }
}

.col-md-4_edit{
  text-align: center;
  padding: 5px;
}

.inner {
  text-align: center;
}

.product_picture{
  height: 250px;
  border: 1px solid $accent_color;
}

.new_form{
  text-align:center;
  border:solid 5px white;
  padding:5px;
  background-color: rgba(9, 30, 65, 0.6);
}

.edit_form{
  text-align:center;
  border:solid 5px white;
  padding:5px;
  background-color:rgba(47,79,79,0.6);
}

.dl-horizontal_edit{
  color: #f3fff5;
  text-align: center;
}

.row_edit{
  width:100%;
}

.container-fluid_edit{
  text-align: center;
  box-shadow: 10px 10px;
}

.btn-info{
  background-color: $font_color;
}

