@import "application_light";

.item_link {
  color: black;
  text-decoration: none;

  &:hover {
    color: darkslategrey;
    text-decoration: none;
  }
}

.ice {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.col-md-4_edit {
  text-align: center;
  padding: 5px;
}

.inner {
  text-align: center;
}

.product_picture {
  height: 250px;
  padding: 20px;
}

.new_form {
  text-align: center;
  border: solid 5px white;
  padding: 5px;
  background-color: rgba(47, 79, 79, 0.6);
}

.edit_form {
  text-align: center;
  border: solid 5px white;
  padding: 5px;
  background-color: rgba(47, 79, 79, 0.6);
}

.dl-horizontal_edit {
  color: black;
  text-align: center;
}

.row_edit {
  width: 100%;
}

.container-fluid_edit {
  text-align: center;
}

.btn-info {
  background-color: black;
}

