@import "application_light";

.item_link {
  color: black;
  text-decoration: none;

  &:hover {
    color: darkslategrey;
    text-decoration: none;
  }
}

.ice {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.col-md-4_edit {
  text-align: center;
  padding: 5px;
}

.inner {
  background-color: $container_color;
  text-align: center;
  margin: 5px;
  padding: 8px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -khtml-border-radius: 5px;
  overflow: hidden;
}

.product_picture {
  height: 250px;
  border: 1px solid $accent_color;
}

.new_form {
  text-align: center;
  border: solid 5px white;
  padding: 5px;
  background-color: rgba(47, 79, 79, 0.6);
}

.edit_form {
  text-align: center;
  border: solid 5px white;
  padding: 5px;
  background-color: rgba(47, 79, 79, 0.6);
}

.dl-horizontal_edit {
  color: black;
  text-align: center;
}

.row_edit {
  width: 100%;
}

.container-fluid_edit {
  text-align: center;
}

.btn-info {
  background-color: black;
}

