<% if cookies[:dark] %>
	<%= stylesheet_link_tag 'shop_system_dark', media: 'all', 'data-turbolinks-track': 'reload' %>
<% else %>
	<%= stylesheet_link_tag 'shop_system_light', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>
<div class="container">
	<div class="inner">
		
		<h1>New Product</h1>
		
		<br>
		
		<%= render 'form', product: @product %>
		
		<br> 
		
		<%= link_to products_path, class:"item_link" do%>
			<i class="fas fa-arrow-left fa-2x"></i>
		<% end %>
	
		<br>
		<br>
		
	</div>
</div>
