
<div class="container-fluid text-center text-md-left background-dark">
  <div class="row">
    <div class="col-md-6 mt-md-0 mt-3">
      <div class="nav-h1">Footer Content</div>
      <div class="nav-norm-text">
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        </p>
      </div>
    </div>
    <hr class="clearfix w-100 d-md-none pb-3">
    <div class="col-md-3 mb-md-0 mb-3">
      <h1 class="nav-h2">Links</h1>
      <ul class="list-unstyled">
        <li>
          <a class="nav-link-font" href="#!">Link 1</a>
        </li>
        <li>
          <a class="nav-link-font" href="#!">Link 2</a>
        </li>
        <li>
          <a class="nav-link-font" href="#!">Link 3</a>
        </li>
        <li>
          <a class="nav-link-font" href="#!">Link 4</a>
        </li>
      </ul>
    </div>
    <div class="col-md-3 mb-md-0 mb-3">
      <h1 class="nav-h2">Links</h1>
      <ul class="list-unstyled">
        <li>
          <a class="nav-link-font" href="#!">Link 1</a>
        </li>
        <li>
          <a class="nav-link-font" href="#!">Link 2</a>
        </li>
        <li>
          <a class="nav-link-font" href="#!">Link 3</a>
        </li>
        <li>
          <a class="nav-link-font" href="#!">Link 4</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright text-center py-3">© 2019 GitHub:
  <a href="https://github.com/WilliBoelke/BelegarbeitWebentwicklung"> Repo</a>
</div>
</footer>